[Desktop Entry]
Type=Application
Name=grunner
GenericName=Application Launcher
Comment=A fast, keyboard-driven application launcher for GNOME and other Linux desktops
Exec=grunner
Icon=org.nihmar.grunner
Categories=Utility;
Keywords=launcher;rofi;search;fuzzy;application;gnome;
StartupNotify=true
Terminal=false
